.center{ /*bringing contenct to center*/
    text-align:center;
  }
  
  .white{ /*make text white*/
      color: #fff;
  }
  
  .dark{ /*make text dark*/
    color: rgb(31, 46, 61);
  }
  .light{ /* make text background light */
    background-color:rgba(255, 255, 255, 0.2);
  }
  
  .wrapper{ /* fits into a column and centers to browser window*/
    margin: auto;
    width:90%;
    height:auto;
    border: 0px;
  }

  header{ 
    background: /* top, transparent black */
        linear-gradient( rgba(55, 55, 55, 0.2), rgb(55, 55, 55, .8)), /* bottom, image */
        url(images/night-desert-tracks.jpg);
    border-radius: 20px;
    background-size: cover;
    /*height: 550px;*/
    padding-top:50px;
    padding-bottom: 10px;

  }
  header{ /*incase image doesn't load*/
      background-color: #222829;
      /*border-bottom: 1px solid rgb(22, 26, 44);*/
  }

  header h1{ /* my name */
      font-family:serif, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: rgba(255, 255, 255, 0.349);
      text-align: center;
      font-size: 250%;
      text-transform: uppercase;
      padding: 10px;
  }

  header h2{ /* major about me */
      font-family: Georgia, 'Times New Roman', Times, serif;
      text-align: center;
  }

  h3{ /* sections of website */
      font-family: Roboto, Arial, Helvetica, sans-serif;
      padding-top: 20px;
      padding-bottom: 10px;
      margin: auto;
      width: 80%;
      text-align: center;
  }
  
  p{
      font-family: Roboto, Arial, Helvetica, sans-serif;
      padding: 5px;
      text-align: justify;
  }

  .circular{ /* make headshot circular */
    width: 320px;
    height: 320px;
    background-image: url(images/headshot2_gray.jpg);
    background-size: cover;
    /*display: block;*/
    border-radius: 100%;
    margin: auto;
  }

  hr{
    width:25%;

  }

  footer{
    background-color:#222829;
  }

  footer p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
  }

  main p{
    background-color: #2228290a solid 10px;
    margin: auto;
    width:70%;
  }

  ul{
    margin: auto;
    width: 60%;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding: 5px;
  }

  ol{
    margin: auto;
    width: 60%;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding: 5px;
  }
  ol li{
    padding-top:10px;
  }

  nav{
    padding-top: 20px;
    padding-bottom: 10px;
  }
  nav a:link{ /* nav links are different than rest of links in the page */
    font-family: Roboto, Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #fff;
  }
  nav a:visited{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #fff;
  }
  nav a:hover{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.5);
  }
  nav a:active{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
  }

  a:link{ /* set colors to links in page */
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #000000;
  }
  a:visited{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #000000;
  }
  a:hover{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.5);
  }
  a:active{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255,.75);
  }