.center{
    text-align:center;
  }
  
  .dark{
    background-color: black;
    color: white;
  }
  
  .light{
    background-color:white;
    
  }
  
  .wrapper{
    margin: auto;
    width:350px;
  }

  body{
      background-image: url("images/night-desert-tracks.jpg");
      background-size: 100%;
  }